{
  "extends": "airbnb-base",
  "rules": {
    "no-unused-vars": "warn",
    "consistent-return": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id", "_doc"]
      }
    ],
    "object-curly-newline": ["error", { "consistent": true }],
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": ["error", "allow"]
  },
  "env": {
    "node": true,
    "es6": true
  }
}
